@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
    margin: 0%;
    font-family: 'Russo One', sans-serif;
    width: 100%;
    
}
.mini-1{
    width: 80vw;
    height: 350px;
    margin: auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mini-div1{
    font-size: 1.5rem;
    display: flex;
     width: fit-content;
     height: min-content;
}
.mini-div2{
    font-size: 18px;
    color: grey;
    /* width: 700px; */
    margin-top: 20px;
    letter-spacing: 0.15em;
    line-height: 1rem;
    -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;

}
.mini-div3{
    font-size: 15px;
    color: grey;
    /* width: 700px; */
    letter-spacing: 0.15em;
    line-height: 1rem;
    
    
}
.mini-icons{
    width: 900px;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mini-icon{
    width: 20%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.miniss{
    width: 70%;
    height: 70%;
    margin-bottom: 8px;
}
@media only screen and (max-width: 600px) {
    body{
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .mini-icons{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .mini-icon{
        height: auto;
        width: 100%;

    }
    .miniss{
        width: 3rem;
    }
    .minii-item{
        font-size: .8rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mini-div2{
        font-size: .9rem;
        color: grey;
        width: 100%;
        margin-top: 1rem;
        letter-spacing: 0.15em;
        line-height: 1rem;
        -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    }
    .mini-div3{
        font-size: .9rem;
        color: grey;
        width: 100%;
        letter-spacing: 0.15em;
        line-height: 1rem;
        -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    }
}